DEBUG=false
SECRET_KEY=replace-with-strong-secret
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=
SITE_NAME=CISO Knowledge
DB_NAME=ciso_knowledge
DB_USER=ciso_user
DB_PASSWORD=jix2830884
DB_HOST=127.0.0.1
DB_PORT=3306
